.section__cocktail-resource{
  border-radius: .5rem;
  margin: none;
  padding: none;
}

.section__cocktail-resource iframe{
  display: block;
  position: relative;
  width: 100.1%;
  height: 100%;
  border: none;
  margin: none;
  padding: none;
  left: -.01rem
}


